<div class="section no-pad-bot" id="listing-banner">
  <div class="listTrans">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">Restaurant Listings</h1>
      <div class="row center">
        <h5 class="header col s12 light white-text">Student suggested restaurants</h5>
      </div>
    </div>
  </div>
</div>

<div class="message container center red">
  {{ msg }}
</div>
<!-- Make this sortable -->
<div class="container">
  <div class="row">
    <form class="col s12" method="POST" action="/sort">
      <div class="row">
        <div class="input-field col s12 m8">
          <select name="searchList">
            <option value="0">Choose a type of food</option>
            {{#each restaurant}}
              <option name="{{cuisine}}" value="{{cuisine}}">{{cuisine}}</option>
            {{/each}}
          </select>
          <label>What Are You In The Mood For?</label>
          <button type="submit" class="waves-effect waves-light pull-right btn-large">Search</button>
        </div>
      </div>
      <div>

      </div>
    </form>
  </div>
  <div class="row">
    {{#each restaurant}}
    <div class="col s12">
      <h3>{{restName}}</h3>
      <h4>{{address}} Tel: {{phone}}</h4>
      <h4></h4>
      <h4><span class="rest-cuisine">Cuisine: {{cuisine}}</span></h4>
      <p>{{description}}</p>
    </div>
      {{#each reviews}}
        <div class="col s6 m4">
          <div class="card-panel white-text">
            <h5>{{revTitle}}</h5>
            <p>Dined on {{dineDate}}</p>
            <p>"{{review}}"</p>
          </div>
        </div>
      {{/each}}
      <!-- added ../ to keep if from checking if restaurant was authenticated instead of user -->
      {{#if ../isAuthenticated}}
        <!-- need to link review to user -->
        <!-- id and user are emails (both strings) -->
        <form method="POST" action="/review/{{id}}/{{../user.thisId}}" class="col s12">
          <h3>Leave a review</h3>
          <!-- Need a rating system -->
          <div class="row">
            <div class="input-field col s12 col m6">
              <i class="material-icons prefix">business</i>
              <input class="validate" id="revTitle" name="revTitle" type="text">
              <label for="revTitle">Review Title</label>
            </div>
            <!-- Make this a predetermined dropdown -->
            <div class="input-field col s12 col m6">
              <input type="date" class="datepicker" id="date" name="dineDate">
              <label for="cuisine">Dine Date</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">description</i>
              <textarea id="review" class="materialize-textarea validate" name="review" length="255"></textarea>
              <label for="review">Review</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light pull-right" type="submit" name="action">Submit<i class="material-icons right">send</i>
          </button>
        </form>
        {{else}}
        <div class="col s12">
          <p><a href="/"><i class="fa fa-angle-double-left"></i> Log in to leave a review</a></p>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <br>
    <div class="row center">
      <p>Have a favorite restaurant not listed here? Add it to our database!</p>
      <!-- modal trigger -->
      <a class="modal-trigger waves-effect waves-light btn" href="#addRestModal">Add Restaurant</a>
    </div><br>
    <br>
  </div>
</div>

<!-- Restaurant Add Modal -->
<div class="modal modal-fixed-footer" id="addRestModal">
  <div class="modal-content">
    <h4>Add Restaurant</h4>
    <p></p>
    <div class="row">
      <form method="POST" action="/addRes" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">business</i> <input class="validate" id="restName" name="restName" type="text"> <label for="restName">Restaurant Name</label>
          </div>
          <!-- Make this a predetermined dropdown -->
          <div class="input-field col s6">
            <input class="validate" id="cuisine" name="cuisine" type="text"> <label for="cuisine">Type of Food</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">description</i>
            <textarea id="description" class="materialize-textarea validate" name="description" length="150"></textarea>
            <label for="description">Description</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">room</i> <input class="validate" id="address" name="address" type="text"> <label for="address">Address</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">call</i> <input class="validate" id="phone" name="phone" type="text"> <label for="phone">Phone Number</label>
          </div>
        </div>
      </div>
      <p></p>
    </div>
    <div class="modal-footer">
      <button class="btn waves-effect waves-light col s3" type="submit" name="action">Submit<i class="material-icons right">send</i>
      </button>
      <a class="modal-action modal-close waves-effect waves-green btn-flat" href="#!">Close</a>
    </div>
  </form>
</div>
