<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Restaurant Listings</h1>
    <div class="row center">
      <h5 class="header col s12 light">Here are some different restaurants around campus</h5>
    </div>
  </div>
</div>

<div class="message container center red">
  {{ msg }}
</div>

<div class="container">
  <div class="row">
    {{#each restaurant}}
      <h3>{{restName}}: <span class="rest-cuisine">{{cuisine}}</span></h3>
      <h4>{{address}} {{phone}}</h4>
      <!-- Button to rate restaurant -->
      <!-- Button to leave restaurant review -->
    {{/each}}
  </div>
</div>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <br>
    <div class="row center">
      <p>Have a favorite restaurant not listed here? Add it to our database!</p>
      <!-- modal trigger -->
      <a class="modal-trigger waves-effect waves-light btn" href="#addRestModal">Add Restaurant</a>
    </div><br>
    <br>
  </div>
</div>

<!-- Restaurant Add Modal -->
<div class="modal modal-fixed-footer" id="addRestModal">
  <div class="modal-content">
    <h4>Add Restaurant</h4>
    <p></p>
    <div class="row">
      <form method="POST" action="/addRes" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">business</i> <input class="validate" id="restName" name="restName" type="text"> <label for="restName">Restaurant Name</label>
          </div>
          <!-- Make this a predetermined dropdown -->
          <div class="input-field col s6">
            <input class="validate" id="cuisine" name="cuisine" type="text"> <label for="cuisine">Type of Food</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">room</i> <input class="validate" id="address" name="address" type="text"> <label for="address">Address</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">call</i> <input class="validate" id="phone" name="phone" type="text"> <label for="phone">Phone Number</label>
          </div>
        </div>
      </div>
      <p></p>
    </div>
    <div class="modal-footer">
      <button class="btn waves-effect waves-light col s3" type="submit" name="action">Submit<i class="material-icons right">send</i>
      </button>
      <a class="modal-action modal-close waves-effect waves-green btn-flat" href="#!">Close</a>
    </div>
  </form>
</div>
