<div class="message container center red">
  {{ msg }}
</div>
<div class="section no-pad-bot" id="reviews-banner">
  <div class="listTrans">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">Your Reviews</h1>
      <div class="row center">
        <h5 class="header col s12 light white-text">Edit or Delete Your Reviews</h5>
      </div>
    </div>
  </div>
</div>
<div class="col s12 m4">
  <!-- <h5>{{results.dataValues.username}}'s Reviews:</h5> -->
  <div class="row">

      {{#each reviews}}
        <div class="col s12 m4 offset-m1">
          <div class="card-panel white-text">
            <h5>{{revTitle}}</h5>
            <p>Dined on {{dineDate}}</p>
            <p>"{{review}}"</p>
          </div>
          <div class="col s12">
            <form method="POST" action="/update">
              <div class="row">
                <div class="input-field col s12 col m6">
                  <input class="validate" id="revTitle" name="revTitle" type="text">
                  <label for="revTitle">Review Title</label>
                </div>

                <div class="input-field col s12 col m6">
                  <input type="date" class="datepicker" id="date" name="dineDate">
                  <label for="cuisine">Dine Date</label>
                </div>
                <div class="input-field col s12">

                  <textarea id="review" class="materialize-textarea validate" name="review" length="255"></textarea>
                  <label for="review">Review</label>
                </div>
              </div>
              <input type="hidden" type="text" name="review_id" value={{this.id}}>
              <button type="submit" class="btn">Update Review</button>
            </form>
          </div>
          <div class="col s12 m6">
            <form method="POST" action="/remove">
              <input type="hidden" type="text" name="review_id" value={{this.id}}>
              <button type="submit" class="btn space">Delete</button>
            </form>
          </div>
        </div>
      {{/each}}

  </div>

  <h5 class="center warnings container">Add your favorite food pictures here.</h5>
 <br>
    <div class="center container ">
     <input type="filepicker" id="mySelect" data-fp-apikey="AbwDZpo3gTOyH18Lb4FHFz" data-fp-mimetypes="image/*" data-fp-services="WEBCAM, CONVERT, COMPUTER, FACEBOOK, INSTAGRAM, GMAIL" conversions="crop, rotate, filter" data-fp-container="modal" onchange="createImage(event.fpfile.url)">
    </div>

    <div class="row container">
      <ul>
        <li> <div class="container col s12" id="results"></div></li>
      </ul>
    </div>

