<div class="col s12 m4">
  <h5>{{results.dataValues.username}}'s Reviews:</h5>
  <div class="row">
    {{#each results}}
      {{#each reviews}}
        <div class="col s6 m4">
          <div class="card-panel red darken-1 white-text">
            <h5>{{revTitle}}</h5>
            <p>Dined on {{dineDate}}</p>
            <p>"{{review}}"</p>
          </div>
          <div class="col s12 m6">
            <form method="POST" action="/update">
              <input type="hidden" type="text" name="review_id" value={{this.id}}>
              <button type="submit" class="btn">Update</button>
            </form>
          </div>
          <div class="col s12 m6">
            <form method="POST" action="/remove">
              <input type="hidden" type="text" name="review_id" value={{this.id}}>
              <button type="submit" class="btn">Delete Review</button>
            </form>
          </div>
        </div>
      {{/each}}
    {{/each}}
  </div>


<div class="col s12 m4">
  <div class="icon-block">
    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
    <h5 class="center title">Reviews to help with choices</h5>

    <p class="light descriptionInfo">Users can leave reviews and comment on each others reviews. No need to take a chance on a restaurant you may not enjoy!</p>
  </div>
</div>

<h5 class="center teal container">Add your favorite food pictures here.</h5>
<br>
   <div class="center container ">
            <input type="filepicker" id="mySelect" data-fp-apikey="AbwDZpo3gTOyH18Lb4FHFz" data-fp-mimetypes="image/*" data-fp-services="WEBCAM, CONVERT, COMPUTER, FACEBOOK, INSTAGRAM, GMAIL" conversions="crop, rotate, filter" data-fp-container="modal" onchange="createImage(event.fpfile.url)">
   </div>

   <div class="row container">
     <ul>
       <li> <div class="container col s12" id="results"></div></li>
     </ul>
   </div>

